In [1]:
#### Python practice seesion


def area_circle():
  radius=int(input("Enter Radius"))
  area= 3.14*(radius*radius)
  return area
area_circle()

Enter Radius3

28.26

In [2]:
name= input("Enter Your Nmae")
roll_number= input("Enter Your Roll Number")

mark= input("Enter Your Mark")

print("Name : ", name, "\nRoll Num : ",roll_number ,"\nMark : ",mark)

Enter Your NmaeAnsha
Enter Your Roll Number12
Enter Your Mark45
Name :  Ansha
Roll Num :  12
Mark :  45

In [3]:
#Write a Python program to get the largest number from a list.
#Sample input: 12, 3, 47, 10
#Sample output: 47 is the largest number.
def large_num():
  numbers = [12, 3, 47, 10]
  max_num = numbers[0]
  for num in numbers:
    if num > max_num:
      max_num = num
  return max_num


large_num()

47

In [4]:
# Given a range of first 10 numbers, write a Python program to iterate from start number to the end
#number and print the sum of the current number and previous number.
sample_list = [12, 3, 47, 10]

def getSumOfCurrentPreviousNumber():

  numbers=[1,2,3,4,5]
  list_length=len(numbers)
  for i in range(list_length):
    current_num= numbers[i]
    previous_number=numbers[i-1] if(i>0)else 0
    sum= current_num+previous_number
    print("current number is ", current_num)
    print("Sum of previous & currentnumber is ", sum)

getSumOfCurrentPreviousNumber()

current number is  1
Sum of previous & currentnumber is  1
current number is  2
Sum of previous & currentnumber is  3
current number is  3
Sum of previous & currentnumber is  5
current number is  4
Sum of previous & currentnumber is  7
current number is  5
Sum of previous & currentnumber is  9

In [5]:
#Write a Python program to print only those numbers which are divisible of 5.
#Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

def divisibleByFive():
  num= int(input("Enter Number"))
  if(num%5==0):
    print(num," is divisible by 5")
  else :
    print(num ," Not divisible by 5")

In [6]:
divisibleByFive()

Enter Number8
8  Not divisible by 5

In [8]:
def primeOrNot():
  num=int(input("Enter number to check prime or not "))
  if num < 2:
    print(f"{num} is not a prime number.")
    return
  for i in range(2,num):
    if num%i==0:
      print(num," not a prime number")
      break
  else:
      print(num," is prime")


primeOrNot()

Enter number to check prime or not 9
9  not a prime number

In [25]:
#Write a Python program to reverse a list using for loop.


def reverseList():
  number_list=[1,2,3,4,5]
  length=len(number_list)
  new_list=[]
  reversed_list=[]
  for num in range(length):
    new_list.append(number_list[num])
    new_list.reverse()
  return new_list

reverseList()

[4, 2, 0, 1, 3]

In [10]:
def printPyramid(number):
  for i in range(number):
      print("*"* (i + 1))

printPyramid(3)

*
**
***

In [11]:
def oddOrEven():
  number= int(input("enter a number"))
  if(number%2==0):
    print("Weird")
  elif(5>number>2):
    print("not weird")
  elif(20>number>6):
    print("weird")
  elif(number>20):
    print("not weird")





oddOrEven()

enter a number6
Weird

In [12]:
def findMaxNum(num1,num2,num3):
  maxNum= max(num1,num2,num3)
  return maxNum

num1=12
num2=37
num3=7
findMaxNum(37,12,7)

37

In [13]:
def printPyramid(number):
  for i in range(number):
      print("*"* (i + 1))
  for i in range(number - 1, 0, -1):
    print("*"*(i))

printPyramid(5)

*
**
***
****
*****
****
***
**
*

In [14]:
def count_character_occurrences(input_string):
    # Create an empty dictionary to store character counts
    char_counts = {}

    # Iterate through each character in the input string
    for char in input_string:
        # Increment the count for the character in the dictionary
        char_counts[char] = char_counts.get(char, 0) + 1

    return char_counts

# Accept a string input from the user
user_input = input("Enter a string: ")

# Call the function to get character counts
result = count_character_occurrences(user_input)

# Display the character counts
print("Character counts in the input string:")
for char, count in result.items():
    print(f"The character '{char}' occurs {count} times.")

Enter a string: assemble
Character counts in the input string:
The character 'a' occurs 1 times.
The character 's' occurs 2 times.
The character 'e' occurs 2 times.
The character 'm' occurs 1 times.
The character 'b' occurs 1 times.
The character 'l' occurs 1 times.

In [15]:
#Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp

def showExponentValue():
  baseValue=int(input("Enter Base Value"))
  exponentValue=int(input("Enter Exponent value"))

  answer=baseValue**exponentValue
  return answer
showExponentValue()

Enter Base Value2
Enter Exponent value3

8

In [16]:
#Write a Python function that takes a positive integer and returns the sum of the cube of all the
#positive integers smaller than the specified number

def cubesOfGivenInteger():
  givenValue= int(input("enter a number"))
  sum=0
  for i in range(givenValue):
    sum += i ** 3
  return sum
cubesOfGivenInteger()

enter a number3

9

In [17]:
#Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”.


def fizzBuzz():

  for i in range(1,11):

    if(i%2==0 and i%5==0):
      print("FizzBuzz")
    elif(i%2==0 ):
      print("Fizz")
    elif(i%5==0):
      print("Buzz")
    else:
      print(i)
fizzBuzz()

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
#Write a Python program to find the most frequent item in a list of numbers.

def countNumberofOccurence(listofNumber):

  countOccurences= listofNumber.count

In [18]:
#Write a Python program to find the sum of squares of the numbers in a list.


def sumOfSquresOfList(listOfNumber):
  sum=0
  for i in listOfNumber:
    sum+=i**2
  return sum
list=[2,1,3,1]
sumOfSquresOfList(list)

15

In [19]:
#Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even

def oddOrEven():
  for i in range(1,16):
    if(i%2==0):
      print(i," is even")
    else:
      print(i," is odd")
oddOrEven()

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even
11  is odd
12  is even
13  is odd
14  is even
15  is odd

In [20]:
#Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.]

def converTemp():
  tempInF= int(input("Enter temparature in fahrenheit"))

  tempinCelcius=5/9*(tempInF-32)
  return tempinCelcius

converTemp()

Enter temparature in fahrenheit41

5.0

In [21]:
#factorila of a num
def factorial():
  sum=1
  num= int(input("Enter a number"))
  for i in range(1,num+1):
    sum*=i
  return sum
factorial()

Enter a number4

24